--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.2.0+cpu
flask==3.0.0
flask-cors==4.0.0
pypdf==3.17.4
sentence-transformers==2.7.0
transformers>=4.40.0
faiss-cpu
groq
numpy
python-dotenv==1.0.1
